table.bikesTable {
  margin: auto;
}
table.bikesTable th{
  padding: 4px 14px;
}
table.bikesTable td, table.bikesTable th {
  padding: 4px 4px;
  border: 1px solid gray !important;
  text-align: center;
}
table.bikesTable th {
  font-weight: bolder;
  width: 5em;
}

td.bikeStatus {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.bikeStatusGood {
  background-color: rgba(0,255,0,0.3);
}

.bikeStatusMedium {
  background-color: rgba(255,255,0,0.3);
}

.bikeStatusLow {
  background-color: rgba(255,0,0,0.3);
}

.bikeStatusUnknown {
  background-color: rgba(200,200,200,0.3);
}
