html, body, #root, #stationMap {
  width: 100%;
  height: 100%;
}
.leaflet-container-debug {
  height: -moz-calc(100% - (50px));
  height: -webkit-calc(100% - (50px));
  height: calc(100% - (50px));
}

.leaflet-container {
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  height: calc(100%);
}


.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Content {
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding: 10px !important;
  height: auto;
  max-height: calc(100% - (80px));
  max-height: -moz-calc(100% - (80px));
  max-height: -webkit-calc(100% - (80px));
  bottom: auto !important;
}

a.leaflet-bar-part-custom i {
  vertical-align: middle;
}
